@page "/"

<PageTitle>@ObserveQueryParametersBlazor.Client.Translations.Translations.Welcome</PageTitle>
<h1>@ObserveQueryParametersBlazor.Client.Translations.Translations.Welcome</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Language: @Language</p>

@code {
    
    [Parameter]
    [SupplyParameterFromQuery(Name = "lang")]
    public string Language { get; set; }

}